<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebSite">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<title>{{name}}</title>

		<!-- TODO: Fill metadata -->

		<!-- App Metadata -->
		<link rel="icon" href="/icons/favicon.svg" />
		<meta name="theme-color" content="" />
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Social metadata -->
		<meta name="keywords" content="" />

		<meta property="og:title" name="twitter:title" itemprop="name" content="{{name}}" />
		<meta
			property="og:description"
			name="description"
			itemprop="description"
			content=""
		/>
		<meta property="og:image" name="twitter:image" itemprop="image" content="/icons/icon-512.png" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:url" content="" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:dnt" content="on" />

		<meta name="pinterest" content="nopin" description="Pintrest not allowed here!" />

		<!-- Site configuration -->
		<meta name="referrer" content="no-referrer" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="license" href="/LICENSE.txt" />

		<!-- Changelog -->
		<link rel="alternate" type="application/rss+xml" href="/changelog.rss" title="Changelog (Version History)" />

		<!-- Apple metadata -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<!-- Styles -->
		<link rel="stylesheet" href="./css/index.css" />
	</head>

	<body>
		<script src="./js/index.ts" type="module"></script>
	</body>
</html>
